.new_product {
	display: flex;
    flex-direction: column;
    width: 400px;
    margin: 100px auto;

    div {
    	width: 100%;
    	display: flex;
    	justify-content: space-between;
    	margin: 15px;
    }

    input[type=submit] {
    	width: 100px;
    	padding: 10px;
    	border-radius: 10px;
    	background-color: grey;
    	color: white;
    }
}

.home-title {
    text-align: center;
    padding: 30px;
}

.products__link {
    display: block;
    text-align: center;
}

.product__index__wrapper {
    display: flex;
    justify-content: center;
    margin: 100px;
}

.catalogue__div {
    
    width: 500px;

    ul {
        display: flex;
        justify-content: space-between;

        li {
            list-style: none;
            width: 120px;
            text-align: center;
        }
    }

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button {  
        opacity: 1;
    }
}

.checkout__div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0px 40px;
}

.closing__button {
    height: 50px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    border: none;
}